body{  
     margin: 12px;
     padding: 12px;
     font-family:'Times New Roman', Times, DISPLAY;
     font-weight: 92;
}
header {
     background-color: rgb(250, 216, 162);
     border-radius: 0%;
     margin-bottom: 0;
}

h1 {
     font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
     color: whitesmoke;
     text-align: center;
     padding-top: 25px;
     padding-bottom: 15px;
            
}

div.ever {
     margin-top: -10px;
     background-color: rgb(250, 162, 227);
     color: rgb(11, 8, 14);
     height: 25px;
}
h4 {
     margin-top: 0;
     text-align: right;
     padding-right: 20px;
     padding-top: 2px;
     font-family: DISPLAY;
}

div.marq {
     background-color: rgb(162, 250, 250);
     color: white;
     height: 40px;
     margin-top: 0;
     font-size: 30;
     font-family: DISPLAY;
     padding-top: 5px;
}

.my-btn{
     border-radius: 7px;
}

.my-img{
     border-radius: 13px;
}
